# Всегда LF для скриптов и make
Makefile text eol=lf
makefile text eol=lf
*.mk     text eol=lf
*.sh     text eol=lf
*.R      text eol=lf
*.Rmd    text eol=lf
*.yml    text eol=lf

# Остальное — авто
* text=auto
